    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>L'exposició Figura<span class="copulativa">i</span><span class="light">Retrat</span></h2>
                    <p>La exposició “Retrat i figura a les col.leccions de la Fundació Iluro” es configura com  una mostra de les obres més destacades del fons. La mostra ha estat curosament comisariada per <a href="http://ca.wikipedia.org/wiki/Arnau_Puig_i_Grau" rel="external" title="Arnau Puig i Grau - Viquipèdia, l'enciclopèdia lliure">Arnau Puig</a>, reconegut crític d’art i sociòleg i un dels membres fundadors de la històrica revista “Dau al Set”.</p>
                    <p>La exposició está formada per 44 obres al voltant de les quals  s’articula un discurs sobre  el paper de la figuració i del retrat en l’art. Farem un recorregut  amb peces que van des del segle XV fins a la contemporaneïtat i reflexionarem sobre el paper social d’aquest génere que ha transcendit etiquetes artístiques  i etapes històriques:</p>
                    <blockquote class="text-left">
                      <p class="small">Per què és vol el retrat?. S’ha dit que el retrat és el substitut i/o el record de la presència de l’absent: amb el retrat es vol que l’absent, el recordat, sigui present.</p>
                      <p class="small">Dues respostes són possibles: aquella que reculli la seva imatge el més fidelment possible o aquella altra que ens faci present quelcom pel qual l’absent és al·ludit, es fa present: en aquest cas la presència assoleix el caràcter d’icona o de símbol. Aleshores la figuració resulta un cas particular de la possessió de l’absent, atès que es pot tenir una presència al·lusiva, simbòlica, com la d’un vicariat: que el present – la icona, símbol o representació substitueix plenament l’absent; mentre que el retrat és una possessió figurada però fidel a l’absent. Sobre tot això hi ha una literatura immensa, sovint molt emocional. Per tant, hom pot dir que el que es vol amb el retrat és posseir l’ànima del retratat; el retrat ha d’oferir els elements que autentifiquin el retratat, ha de retenir l’alè (la vida) del retratat, siguin els procediments executius figuratius, abstractes o simbòlics.</p>
                      <footer class="no-padding text-right">&ndash; Arnau Puig</footer>
                    </blockquote>
                </div>
            </div>
            <ul>
        </div>
    </section>