    <!-- Filosofia Section -->
    <section id="filosofia" class="content-section text-center no-padding">
        <div class="filosofia-section">
            <div class="yellow-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h2>Proposta educativa de l'exposició Figura<span class="copulativa">i</span><span class="light">Retrat</span></h2>
                            <p>La Fundació Iluro ofereix activitats dinamitzadores de l’exposició destinades al públic escolar i públic general</p>
                        </div>
                    </div>
                  <div class="row">    
                      {% for primaria in site.data.visites.primaries %}
                          <div class="col-sm-12 col-md-6 text-left">
                              <figure class="no-margin">
                                <div class="padding-artwork-container">
                                    <h3>{{ primaria.category }}</h3>
                                    <p><strong>Activitat:</strong> {{ primaria.activity }}<br/>
                                    <strong>Durada:</strong> {{ primaria.duration }}<br/>
                                    <strong>Horari:</strong> {{ primaria.timetable }}<br/>
                                    <strong>Participants:</strong> {{ primaria.people }}<br/></p>
                                    {{ primaria.description }}
                                </div>
                            </figure>
                          </div>
                      {% endfor %}    
                      {% for batxillerat in site.data.visites.batxillerats %}
                          <div class="col-sm-12 col-md-6 text-left">
                              <figure class="no-margin">
                                <div class="padding-artwork-container">
                                    <h3>{{ batxillerat.category }}</h3>
                                    <p><strong>Durada:</strong> {{ batxillerat.duration }}<br/>
                                    <strong>Horari:</strong> {{ batxillerat.timetable }}</p>
                                    {{ batxillerat.description }}
                                </div>
                            </figure>
                          </div>
                      {% endfor %}    
                      {% for adult in site.data.visites.adults %}
                          <div class="col-sm-12 col-md-6 text-left">
                              <figure class="no-margin">
                                <div class="padding-artwork-container">
                                    <h3>{{ adult.category }}</h3>
                                    <p><strong>Durada:</strong> {{ adult.duration }}</p>
                                    <p><strong>Dates:</strong><br/>
                                     <strong>Dissabte:</strong> {{ adult.timetable.saturday }}<br/>
                                     <strong>Dijous:</strong> {{ adult.timetable.thursday }}</p>
                                    {{ adult.description }}
                                </div>
                            </figure>
                          </div>
                      {% endfor %}
                </div>
            </div>
        </div>
    </section>