    <!-- Serveis Section -->
    <section id="serveis" class="content-section no-padding">
        <div class="serveis-section">            
            <div class="purple-bg">
                <div class="container">
                    <blockquote class="text-left">
                        <p>La <a href="http://www.fundacioiluro.cat/">Fundació Iluro</a> té una remarcable col·lecció de pintura, escultura, dibuix i gravat que configura el seu fons artístic. El Patronat de la Fundació té clar que fer-lo accessible al públic ha de ser una de les seves prioritats. És en aquest sentit que ja l’any passat es va fer una primera exposició que recollia obra paisatgística. Per a aquesta segona exposició, hem cregut oportú exposar una selecció de figures i retrats del nostre fons. </p>
                        <p>Aquests reculls o seleccions d’obres lligades per la seva temàtica permeten complir amb aquest objectiu de donar a conèixer el fons i, alhora, ens permet fer pedagogia de l’Art, ajudar a entendre’l i per tant a gaudir-ne.</p>
                        <p>En aquesta ocasió hem tingut el privilegi de comptar amb la col·laboració del <strong>Sr. Arnau Puig</strong>. L’explicació que fa de l’exposició , no sols facilita acostar-se de forma sistemàtica al contingut de l’exposició, sinó que desperta l’interès per cadascuna de les obres exposades. </p>
                        <p>Des de la Fundació Iluro pensem continuar amb aquestes exposicions de forma periòdica. Efectivament, també creiem que el fons haurà de ser un dia accessible per Internet. Intuïm, però, que aquest accés mai no acabarà de substituir l’experiència de contemplar-ne l’original, com ara ho feu a l’Ateneu, un espai expositiu obert a diferents expressions artístiques i un fòrum on poder explicar tendències de futur, fer reviure fets històrics, moviments i institucions locals i del país o per conversar sobre temes d’actualitat.
                        <footer class="no-padding text-right">&ndash; Pere Carles, <strong>President de la Fundació Iluro</strong></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>